<!DOCTYPE html>
<html lang="en">
<head>
    <title>URL-Shortener</title>
</head>
<body>
    <h1>URL-Shortener</h1>
    <form action="" method="POST" >
        <input type="text" name="long">
        <input type="submit" value="Shorten">
    </form>


     <table border="1">
     <tr>
         <th>Link-pełny</th>
         <th>Link- skrócony</th>
     </tr>
    {% for key in links %}
        <tr>
            <td><a href="{{ links[key] }}">{{ links[key] }}</a></td>
            <td><a href="{{ links[key] }}">{{ key }}</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>